.reset-password-page{
  .page__main{
    max-width: 100%;
    width: 1200px;
    margin: 0px auto;
    padding: 75px 80px 35px;
    background-color: white;
    border-radius: 57.6px 19.2px 19.2px 19.2px;
    position: relative;
    overflow: hidden;
    .page__title{
      position: relative;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
    }
    .pointer-green-icon{
      svg{}
    }
    .form__layout{
      margin: 0px -16px;
    }
  }
}




//utils for only layout
.flex-grow-0{
  flex-grow: 0 !important;
}
