.errorShake {
  animation: shake 0.4s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.errorMessageBox {
  color: darkred;
  background-color: pink;
  padding: 12px;
  font-size: 1.2em;
  position: absolute;
  /*top: 65px;
  right: 25%;*/
  z-index: 300;
}

.desktopHomepageCarousel {
  height: 90vh !important;
  box-shadow: unset !important;
}

.desktopHomepageCarousel .v-carousel__item {
  height: 90vh !important;
  box-shadow: unset !important;
}

.desktopCarouselText {
  text-align: left;
  /*top: 154px;*/
  /*top: 313px;*/
  /*top: 30%;*/

  left: 158px;
  z-index: 10;
  bottom: 28%;
}

.desktopCarouselText h1 {
  color: black;
  text-align: left;
  font-weight: bold;
  line-height: 1.17;
  margin-bottom: 50px;
}
.desktopCarouselText h2 {
  text-align: left;
  font-weight: 500;
  line-height: 2.22em;
  letter-spacing: normal;
  color: #222222;
}

.desktopLogo {
  position: absolute;
  top: 24px;
  left: 37px;
}

.v-navigation-drawer {
  z-index: 100;
}
/*
.mobileCarouselText {
  position: absolute;
  top: 154px;
  left: 20px;
  z-index: 10;
}
*/
.mobileCarouselText {
  /*position: relative;*/
  width: 100%;
  /*bottom: 270px;*/
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.mobileCarouselText h1 {
  font-size: 2em;
  color: black;
  text-align: left;
  z-index: 10;
  margin-bottom: 20px;
}

.mobileCarouselText h2 {
  text-align: left;
  font-weight: 500;
  line-height: 1.22em;
  letter-spacing: normal;
  color: #222222;
}
.mobileLogo {
  position: absolute;
  top: 7px;
  left: 7px;
}

/*
.mobileCarouselControls {
  position: absolute;
  width: 320px;
  padding: 5px;
  top: 330px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.desktopCarouselControls {
  position: absolute;
  width: 680px;
  padding: 5px;
  top: 730px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
*/

.mobileCarouselControls {
  position: relative;
  width: 100%;
  padding: 0px;
  bottom: 210px;
  left: 0;
  right: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.desktopCarouselControls {
  position: relative;
  width: 680px;
  padding: 5px;
  bottom: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.v-carousel__controls {
  min-height: 80px;
  padding-top: 20px;
  /*background: rgba(2, 45, 63, 0.7) !important;*/
  /*background: rgba(0, 0, 0, 0.8) !important; */
  background: rgba(0, 0, 0, 0) !important;
}

.carouselMainText {
  color: white;
  font-size: 24px;
  padding-right: 10px;
}
.carouselSelect {
  max-height: 65px;
  /*
 background-color: #00f;
  color: #f00;
  */
  font-size: 12px;
}

.v-text-field {
  min-height: 20px;
}

.v-text-field.v-text-field--solo {
  min-height: 20px;
}

.v-text-field.v-text-field--solo .v-input__control {
  min-height: 20px;
}

#mobileProcedure {
  width: 70%;
  padding: 0px;
  margin: 0px;
}

select {
  -webkit-appearance: menulist-button;
  color: red;
}
select {
  width: 150px;
  height: 30px;
  padding: 5px;
  color: green;
}
select option {
  color: black;
}
select option:first-child {
  color: green;
}

.desktopCarouselButton {
  background-color: red;
  color: #035478 !important;
  margin: 0px !important;
  margin-left: -30px !important;
  margin-top: 2px !important;
  padding-right: 16px !important;
  margin-bottom: 26px !important;
  height: 36px;
}

.mobileCarouselButton {
  background-color: red;
  color: #035478 !important;
  width: 50px;
  min-width: 50px !important;
  max-width: 50px;
  margin: 0px !important;
  padding: 0px !important;
  margin-top: 2px !important;
  margin-bottom: 26px !important;
  margin-left: -52px !important;
  margin-right: 16px !important;

  height: 36px;
}

.carouselText {
  color: white;
  font-size: 12px;
  padding-left: 10px;
}

.v-select__selections {
  /*max-height: 30px;
  margin-bottom: 10px !important;*/
}
